* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper-box {
  background-color: #ddd;
  padding: 3em;
  margin: 0 auto;
  max-width: 40%;
}

.screen {
  background-color: white;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
